{% extends 'layout.html' %}
  
{% block title %}Lista de Usuarios{% endblock %}
  
{% block content %}
<h1 class="col-lg-3 mb-5 mb-lg-2">Lista de Usuarios</h1>
<style> 
    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
        }
    th {
        width: 200px;
        text-align: center;
        padding: 5px;
        }
   </style>
<table>
    <thead>
      <tr>
          <th>ID</th>
          <th>Apellido y Nombre</th>
          <th>DNI</th>
      </tr>
      </thead>    
      <tbody>
       {% for row in data %}    
              <tr>
                  <td>{{row[0]}}</td>
                  <td>{{row[1]}}</td>
                  <td>{{row[2]}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}